*~
*.egg
*.egg-info/
*synctex.gz*
.DS_Store
.Thumbs.db
.ipynb_checkpoints
.thumbs.db
__pycache__/
_tmp/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy
*.tdo
_minted*/
*.pyg
_minted-*/
*.stripped